<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
      body {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
      }
      nav {
        display: flex;
        align-items: flex-start;
        padding: 50px 20px;
      }
      nav h1 {
        font-size: 40px;
        line-height: 40px;
        margin: 0;
      }
      nav h1 a {
        text-decoration: none;
        color: rgba(0,0,0,0.8);
      }
      .hidden {
        display: none;
      }
      .flexible {
        flex-grow: 1;
      }
      nav button, nav .button {
        margin: 5px;
        padding: 5px 10px;
        border-radius: 1px;
        background: none;
        border: none;
        color: rgba(0,0,0,0.8);
        text-decoration: none;
        font-size: 14px;
        display: inline-block;
        cursor: pointer;
      }
      .container {
        margin: 50px auto;
        max-width: 600px;
        width: 100%;
      }
      .flex {
        display: flex !important;
      }
      .row {
        display: block;
        text-decoration: none;
        font-size: 20px;
        color: rgba(0,0,0,0.7);
        font-family: Sans-serif;
        padding: 20px 10px;
        border-bottom: 1px solid rgba(230, 230, 230, 1);
      }
      .row .image {
        height: 300px;
        overflow: hidden;
        margin-top: 12px;
      }
      .row .image img {
        width: 100%;
      }
      .row .title {
        font-size: 30px;
        line-height: 40px;
        margin: 0;
      }
      .row .description {
        font-style: normal;
        font-family: sans-serif;
        font-size: 16px;
        line-height: 20px;
        color: rgba(117, 117, 117, 1);
        padding-top: 4px;
      }
      .row .updated {
        font-style: normal;
        font-family: sans-serif;
        font-size: 14px;
        color: silver;
      }
      .row:hover {
        color: black;
      }
      body {
        margin: 0;
        font-size: 14px;
        color: rgba(0,0,0,0.7);
        line-height: 20px;
      }
      footer {
        text-align: center;
        padding: 50px 0;
      }
      footer a {
        color: rgba(0,0,0,0.6);
        display: inline-block;
        margin: 5px;
        padding: 2px 5px;
      }
      footer a.current {
        text-decoration: none;
      }
      #menu-button {
        font-weight: bold;
        margin: 0;
        padding: 10px;
        outline: none;
      }
      #menu-button img {
        width: 25px;
      }
      .menu {
        text-align: right;
      }
      .menu-items {
        transition: max-height 0.3s ease-in-out;
        max-height: 200px;
        overflow: hidden;
      }
      .menu-items.collapsed {
        max-height: 0;
      }
      .menu-items a {
        display: block;
        padding: 10px;
        color: rgba(0,0,0,0.8);
        text-decoration: none;
        font-size: 14px;
      }
    </style>
    <script>
    document.addEventListener("DOMContentLoaded", () => {
      document.querySelector("#menu-button").addEventListener("click", (e) => {
        document.querySelector(".menu-items").classList.toggle("collapsed")
      })
    })
    </script>
  </head>
  <body>
    <nav>
      <h1><a href='{{base}}'>{{title}}</a></h1>
      <div class='flexible'></div>
    </nav>
    <div class='container'>
    {{#each items}}
      <a class='row' href="{{../base}}{{filename}}">
        {{#if meta.updated }}
          <div class='updated'>{{meta.updated}}</div>
        {{/if}}
        {{#if meta.title }}
          <h2 class='title'>{{meta.title}}</h2>
        {{else}}
          <h2 class='title'>{{filename}}</h2>
        {{/if}}
        {{#if meta.description }}
          <div class='description'>{{meta.description}}</div>
        {{/if}}
        {{#if meta.image }}
          <div class='image'>
            <img src="{{../base}}{{meta.image}}">
          </div>
        {{/if}}
      </a>
    {{/each}}
    </div>
    <footer>
      {{#each pages}}
        {{#if current}}
          <a href="{{../base}}pages/{{number}}" class='current'>{{number}}</a>
        {{else}}
          <a href="{{../base}}pages/{{number}}">{{number}}</a>
        {{/if}}
      {{/each}}
    </footer>
    <scr{{!}}ipt src="https://cdnjs.cloudflare.com/ajax/libs/timeago.js/4.0.2/timeago.min.js" integrity="sha512-SVDh1zH5N9ChofSlNAK43lcNS7lWze6DTVx1JCXH1Tmno+0/1jMpdbR8YDgDUfcUrPp1xyE53G42GFrcM0CMVg==" crossorigin="anonymous"></scr{{!}}ipt>
    <scr{{!}}ipt>
      document.querySelectorAll(".updated").forEach((el) => {
        let timestamp = parseInt(el.textContent)
        let ago = timeago.format(timestamp)
        el.textContent = ago;
      })
    </scr{{!}}ipt>
  </body>
</html>
